@font-face {
font-family: AudioWide;
src: url(Audiowide-Regular.ttf);
}

body {
font-family: AudioWide;
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
background-color: #081921;
}

marquee {
color: white;
}

@keyframes Glow {
from {
text-shadow: 0 0 10px #E5FAFF, 0 0 20px #E5FAFF, 0 0 30px #8AE6FF;
}
to {
text-shadow: 0 0 20px #E5FAFF, 0 0 30px #E5FAFF, 0 0 40px #37B0D4;
}
 }

.headText {
margin-top: 100px;
animation: Glow 1s ease-in-out infinite alternate ;
color: white;
}

p {
color: white;
}

.bioCard {
width: 300px;
height: auto;
border-style: solid;
border-color: white;
box-shadow: 0 0 50px 10px #8AE6FF;
border-radius: 10px;
}

.container {
padding: 5px
text-align: center;
color: white
}


select {
background-color: white;
border-style: solid;
border-color: black;
font-family: AudioWide;
}

.sCard {
margin-top: 250px;
margin-bottom: 50px
width: 300px;
height: auto;
border-style: solid;
border-color: white;
box-shadow: 0 0 50px 10px #8AE6FF;
border-radius: 10px;
}

h3 {
color: white
}

footer {
position: fixed;
width: 10%;
}

footer a {
float: left;
}

