@font-face {
font-family: AudioWide;
src: url(Audiowide-Regular.ttf);
}

body {
font-family: AudioWide;
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
background-color: #081921;
}

@keyframes Glow {
from {
text-shadow: 0 0 10px #E5FAFF, 0 0 20px #E5FAFF, 0 0 30px #E5FAFF;
}
to {
text-shadow: 0 0 20px #E5FAFF, 0 0 30px #E5FAFF, 0 0 40px #E5FAFF;
}
 }

.headText {
margin-top: 100px;
animation: Glow 1s ease-in-out infinite alternate ;
color: white;
}

p {
color: white;
}
