@font-face {
font-family: AudioWide;
src: url(Audiowide-Regular.ttf);
}

body {
font-family: AudioWide;
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
background-color: #081921;
padding-bottom: 70px;
}

marquee {
color: white;
}

@keyframes Glow {
from {
text-shadow: 0 0 10px #E5FAFF, 0 0 20px #E5FAFF, 0 0 30px #8AE6FF;
}
to {
text-shadow: 0 0 20px #E5FAFF, 0 0 30px #E5FAFF, 0 0 40px #37B0D4;
}
 }

.headText {
margin-top: 100px;
animation: Glow 1s ease-in-out infinite alternate ;
color: white;
}

p {
color: white;
}

.bioCard {
width: 400px;
padding: 5px;
height: auto;
border-style: solid;
border-color: white;
box-shadow: 0 0 50px 10px #8AE6FF;
border-radius: 10px;
}

.container {
padding: 5px
text-align: center;
color: white;
}


select {
background-color: #081921;
border-style: solid;
border-color: white;
font-family: AudioWide;
color: white;
}

.sCard {
padding: 5px;
margin-top: 100px;
margin-bottom: 50px;
width: 400px;
height: auto;
border-style: solid;
border-color: white;
box-shadow: 0 0 50px 10px #8AE6FF;
border-radius: 10px;
}

h3 {
color: white;
}

.footer {
bottom: 0;
display: flex;
position: fixed;
width: 100%;
align-items: center;
justify-content: space-around;
}

#audioPlayer {
position: fixed;
top: 0px;
right: 0px;
height: 40px;
width: 40px;
border-style: solid;
border-radius: 10px;
font-family: AudioWide;
background-color: #081921;
color: white;
border-color: white;
}
